<mat-card fxLayout="column" fxLayoutAlign="start" style="margin-bottom: 25px;">
  <form fxLayout="column" fxLayoutAlign="flex-start flex-start" style="font-size: .8em;" [formGroup]="resetForm" (ngSubmit)='onSubmit()'>
    <mat-form-field>
      <input
        type="text"
        id="email"
        formControlName="email"
        placeholder="Email"
        matInput
        name="email">
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">Send Reset</button>
  </form>
</mat-card>

<mat-card fxLayout="column" fxLayoutAlign="start" style="margin-bottom: 25px;">
  Email reset confirmation sent.
  <div style="margin-top: 15px;">
    <a routerLink="/"><button mat-raised-button color="primary">Return Home</button></a>
  </div>
</mat-card>