<div style="margin-bottom: 19px;">
  <div fxLayout="row" fxLayoutAlign="space-between center" >
      <h2 style="margin-bottom: 0px;">Change Password</h2>
      <a href="https://github.com/elongton/djangoangularstarter/tree/master/angular_src/src/app/auth/password/change" target="_blank" class="component-indicator ml">auth/password/change</a>
  </div>
</div>

<mat-card fxLayout="column" fxLayoutAlign="start" style="margin-bottom: 25px;">
  <form fxLayout="column" fxLayoutAlign="flex-start flex-start" style="font-size: .8em;" [formGroup]="passwordChangeForm" (ngSubmit)='onSubmit()'>
    <mat-form-field>
      <input
        type="password"
        id="password1"
        formControlName="new_password1"
        placeholder="New Password"
        matInput
        name="password1">
    </mat-form-field>
    <mat-form-field>
      <input
        type="password"
        id="password2"
        formControlName="new_password2"
        placeholder="New Password Again"
        matInput
        name="password2">
    </mat-form-field>
    <mat-form-field>
      <input
        type="password"
        id="old_password"
        formControlName="old_password"
        placeholder="Old Password"
        matInput
        name="old_password">
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">Submit</button>
  </form>
</mat-card>