<div *ngIf='!key'>
  <div style="margin-bottom: 19px;">
      <div fxLayout="row" fxLayoutAlign="space-between center" >
          <h2 style="margin-bottom: 0px;">Verify your account</h2>
          <a href="https://github.com/elongton/djangoangularstarter/tree/master/angular_src/src/app/auth/verify-account" target="_blank" class="component-indicator ml">auth/verify-account</a>
      </div>
      <small>Copy and paste the last bit of the url sent via Django command line - something like "NQ:1glcMY:Ny0tARdvf-foqOknJg1NZBNCsxs".</small>  
  </div>

  <mat-card fxLayout="row" fxLayoutAlign="start">

    <form fxLayout="column" class="" style="width: 100%;" fxLayoutAlign="flex-start flex-start" [formGroup]="keyForm" (ngSubmit)='onSubmit()'>

      <mat-form-field style="width: 100%; max-width: 1000px;">
        <input
          type="text"
          matInput
          placeholder="Key"
          name="key"
          formControlName="key"
          >
      </mat-form-field>

      <button type="submit" mat-raised-button color="primary">Verify</button>
    </form>
  </mat-card>
  <br>
</div><!-- if no key is present -->


<div *ngIf='key'>
  <div style="margin-bottom: 19px;">
    <div fxLayout="row" fxLayoutAlign="space-between center" >
        <h2 style="margin-bottom: 0px;">Thanks for verifying your account!</h2>
        <a href="https://github.com/elongton/djangoangularstarter/tree/master/angular_src/src/app/auth/verify" target="_blank" class="component-indicator ml">auth/verify</a>
    </div>
  </div>
  <button mat-stroked-button routerLink="/profile" color="primary">User Profile</button>
</div><!-- if key is present -->
