<div style="margin-bottom: 19px;">
    <div fxLayout="row" fxLayoutAlign="space-between center" >
        <h2 style="margin-bottom: 0px;">Forgot Password?</h2>
        <a href="https://github.com/elongton/djangoangularstarter/tree/master/angular_src/src/app/auth/password/reset/" target="_blank" class="component-indicator ml">auth/password/reset</a>
    </div>
</div>

<mat-card fxLayout="column" fxLayoutAlign="start" style="margin-bottom: 25px;">
  <form fxLayout="column" fxLayoutAlign="flex-start flex-start" style="font-size: .8em;" [formGroup]="resetForm" (ngSubmit)='onSubmit()'>
    <mat-form-field>
      <input
        type="text"
        id="email"
        formControlName="email"
        placeholder="Email"
        matInput
        name="email">
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">Send Reset</button>
  </form>
</mat-card>