<main style="width: 100%;">
  <h2>User Workflow</h2>
  <div class="container" fxLayout="row">
      <div class="" fxLayout="column" fxLayoutAlign="start center">
          <a routerLink="signin"><button mat-stroked-button color="primary" >Sign In</button></a>
          <br>
          <div class="dashed" fxLayout="row" style="width: 100px;">
              <fa-icon class="rotate45" icon="long-arrow-alt-down"></fa-icon>
              <fa-icon class="rotateNeg45" icon="long-arrow-alt-down"></fa-icon>
          </div>
          <br>
          <div fxLayout="column"> 
            <a routerLink="reset"><button mat-stroked-button color="primary">Forgot Password</button></a>
            <small fxFlexAlign="end">(Reset Password)</small>
          </div>


      </div>
      <div class="leftborder ml" fxLayout="column" fxLayoutAlign="start center">
          <a routerLink="signup"><button mat-stroked-button color="primary">Signup</button></a>
          <br>
          <fa-icon icon="long-arrow-alt-down"></fa-icon>
          <br>
          <button mat-stroked-button color="primary" routerLink="profile" [disabled]="!(authState | async).authenticated" >User Profile</button>
      </div>



  </div><!--container-->


  <hr>

  <br>
  <button mat-stroked-button color="primary" routerLink="verify">Manual Verify</button>
  <br>
  <button mat-stroked-button color="primary" routerLink="change"   [disabled]="!(authState | async).authenticated" >Password Change</button>