
<main style="width: 100%;">
    <div style="margin-bottom: 19px;">
        <div fxLayout="row" fxLayoutAlign="space-between center" >
            <h2 style="margin-bottom: 0px;">Suggested User Workflow</h2>
            <a href="https://github.com/elongton/djangoangularstarter/tree/master/angular_src/src/app/workflow-sample-removeme" target="_blank" class="component-indicator ml">workflow-sample-removeme</a>
        </div>

        <small><span class="red">Red arrows</span> indicate path is strongly suggested or already hardcoded in Django Rest Auth</small>     
    </div>
    <div class="container" fxLayout="row">
    <!--///////////////////////////////////-->
    <!--///// SIGNIN WORKFLOW SECTION /////-->
    <!--///////////////////////////////////-->
      <div class="" fxLayout="column" fxLayoutAlign="start center">
        <a routerLink="signin"><button mat-stroked-button color="primary" >Sign In</button></a>
        <br>
        <div class="" fxLayout="row" fxLayoutAlign="space-around" style="width: 100px;">
            <fa-icon class="rotate45 red" icon="long-arrow-alt-down"></fa-icon>
            <fa-icon class="rotateNeg45" icon="long-arrow-alt-down"></fa-icon>
        </div>
        <br>
        <div class="" fxLayout="row">
            <div fxLayout="column"> 
                <a routerLink="reset"><button mat-stroked-button color="primary">Forgot Password</button></a>
                <!-- <small fxFlexAlign="end">(Reset Password)</small> -->
            </div>
            <div class="ml">
                <a routerLink="home" [ngClass]="{disabled : !(authState | async).authenticated}"><button mat-stroked-button color="primary" [disabled]="!(authState | async).authenticated">Home</button></a>
            </div>
            
        </div>
      </div>
    <!--///////////////////////////////////////////-->
    <!--///// FORGOT PASSWORD WORKFLOW SECTION ////-->
    <!--///////////////////////////////////////////-->
      <div class="leftborder ml" fxLayout="column" fxLayoutAlign="start center">
        <div fxLayout="column"> 
            <a routerLink="reset"><button mat-stroked-button color="primary">Forgot Password</button></a>
        </div>
        <br>
            <fa-icon class="red" icon="long-arrow-alt-down"></fa-icon>
        <br>
        <div class="email-step">
            *Django reset password email
        </div>
        <small fxFlexAlign="center">(Find in Django logs)</small>
      </div>
    <!--///////////////////////////////////////////-->
    <!--///////////// HORIZONTAL STEPS ////////////-->
    <!--///////////////////////////////////////////-->
      <div class="leftborder ml" fxLayout="row" fxLayoutAlign="center start">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div fxLayout="row"> 
                <div class="email-step-description" fxLayout="row">
                    <div>*</div>
                    <div>Django reset password email<br> provides link</div>
                </div>
            </div>
            <fa-icon class="red" icon="long-arrow-alt-right"></fa-icon>
            <a routerLink="reset/confirm" class="ml" ><button mat-stroked-button color="primary">Choose New Password</button></a>            
        </div>
    </div>
 
  </div><!--container-->

  <hr>

  <div class="container" fxLayout="row">
    <!--///////////////////////////////////-->
    <!--///// SIGNUP WORKFLOW SECTION /////-->
    <!--///////////////////////////////////-->
    <div fxLayout="column" fxLayoutAlign="start center">
            <a routerLink="signup"><button mat-stroked-button color="primary">Sign Up</button></a>
            <br>
            <div class="" fxLayout="row" fxLayoutAlign="space-around" style="width: 100px;">
                <fa-icon class="rotate45" icon="long-arrow-alt-down"></fa-icon>
                <fa-icon class="rotateNeg45" icon="long-arrow-alt-down"></fa-icon>
            </div>
            <br>
            <a routerLink="home" [ngClass]="{disabled : !(authState | async).authenticated}"><button mat-stroked-button color="primary" [disabled]="!(authState | async).authenticated">Home</button></a>
          </div>
        <!--/////////////////////////////////-->
        <!--///// HOME WORKFLOW SECTION /////-->
        <!--/////////////////////////////////-->
          <div class="leftborder ml" fxLayout="column" fxLayoutAlign="start center">
            <a routerLink="home" [ngClass]="{disabled : !(authState | async).authenticated}"><button mat-stroked-button color="primary" [disabled]="!(authState | async).authenticated">Home</button></a>
            <br>
            <fa-icon icon="long-arrow-alt-down"></fa-icon>
            <br>
            <button mat-stroked-button color="primary" routerLink="profile" [disabled]="!(authState | async).authenticated" >User Profile</button>
          </div>
        <!--/////////////////////////////////////////-->
        <!--///// USER PROFILE WORKFLOW SECTION /////-->
        <!--/////////////////////////////////////////-->
          <div class="leftborder ml" fxLayout="column" fxLayoutAlign="start center">
            <button mat-stroked-button color="primary" routerLink="profile" [disabled]="!(authState | async).authenticated" >User Profile</button>
            <br>
            <fa-icon icon="long-arrow-alt-down"></fa-icon>
            <br>
    
          </div>
  </div>




  <br>
  <button mat-stroked-button color="primary" routerLink="verify">Manual Verify</button>
  <br>
  <button mat-stroked-button color="primary" routerLink="change"   [disabled]="!(authState | async).authenticated" >Password Change</button>