button, a{margin-bottom: 10px;}
.disabled {
    pointer-events: none;
    cursor: default;
 }
a, button{
    margin-bottom: 0;
}
 small{
     font-family: Roboto;
     opacity: .5;
     font-size: 10px;
 }

 .ml{
     margin-left: 10px;
 }

 .leftborder{
     padding-left: 10px;
     border-left: 1px solid grey;
 }

 .rotate45{
    transform: rotate(45deg);
 }
 .rotateNeg45{
    transform: rotate(-45deg);
 }