<div style="margin-bottom: 19px;">
    <div fxLayout="row" fxLayoutAlign="space-between center" >
        <h2 style="margin-bottom: 0px;">Login</h2>
        <a class="component-indicator ml" href="https://github.com/elongton/djangoangularstarter/tree/master/angular_src/src/app/auth/signin" target="_blank">auth/signin</a>
    </div>
</div>

<mat-card fxLayout="column" fxLayoutAlign="start" style="margin-bottom: 25px;">

  <form fxLayout="column" fxLayoutAlign="flex-start flex-start" style="font-size: .8em;" [formGroup]="loginForm" (ngSubmit)='onSubmit()'>

    <mat-form-field>
      <input
        type="text"
        id="username"
        formControlName="username"
        placeholder="Username"
        matInput
        name="username">
    </mat-form-field>

    <mat-form-field>
      <input
        type="password"
        matInput
        placeholder="Password"
        name="password"
        formControlName="password">
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">Submit</button>
  </form>
  <br>
  <small><a routerLink="/reset">Forgot Password?</a></small> 
</mat-card>



<!-- <button type="submit" mat-stroked-button color="primary" (click)="navOut()">Nav Out</button> -->
